<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
  <appSettings>
    <!-- Graph API for both Microsoft and school or work accounts. Register your own app registration via https://entra.microsoft.com . -->
    <add key="GraphApiApplicationId" value="554972ab-b8be-43a5-8ccd-27c0eb46a202"/>

    <add key="OneDriveApiRefreshToken" value=""/>
  </appSettings>
</configuration>
