<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <!-- OneDrive API for Microsoft Accounts. Register your own via https://apps.dev.microsoft.com . -->
    <add key="OneDriveConsumerApiClientID" value="7ec390f5-2ddd-472e-bd83-bf46d7e23b6c"/>
    <add key="OneDriveConsumerApiClientSecret" value="voczeUKBQ893+#~zqAGE24|"/>
    <add key="OneDriveConsumerApiRedirectUri" value="https://apps.zomers.eu"/>

    <!-- OneDrive API for school or work accounts. Register your own via https://manage.windowsazure.com . -->
    <add key="OneDriveForBusinessO365ApiClientID" value="a9dab0c2-96e5-4c64-991c-f3d5ba181f98"/>
    <add key="OneDriveForBusinessO365ApiClientSecret" value="5JsE7ltjDa2V3DNQGBHCCMI9vEEjFqiySk95J7CLDIU="/>

    <!-- Graph API for both Microsoft and school or work accounts. Register your own via https://apps.dev.microsoft.com . -->
    <add key="GraphApiApplicationId" value="d12925dd-22fc-41d0-9c4a-a1933940c1c8"/>
    
    <add key="OneDriveApiRefreshToken" value=""/>
  </appSettings>
</configuration>
