<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
  <appSettings>
    <!-- OneDrive API for school or work accounts. Register your own app registration via https://entra.microsoft.com . -->
    <add key="OneDriveForBusinessO365ApiClientID" value="a9dab0c2-96e5-4c64-991c-f3d5ba181f98"/>
    <add key="OneDriveForBusinessO365ApiClientSecret" value="5JsE7ltjDa2V3DNQGBHCCMI9vEEjFqiySk95J7CLDIU="/>
    <!-- The root SharePoint/OneDrive for Business resource Uri for your tenant, e.g. https://contoso-my.sharepoint.com -->
    <add key="OneDriveForBusinessO365ApiResourceUri" value=""/>

    <!-- Graph API for both Microsoft and school or work accounts. Register your own app registration via https://entra.microsoft.com . -->
    <add key="GraphApiApplicationId" value="d12925dd-22fc-41d0-9c4a-a1933940c1c8"/>

    <add key="OneDriveApiRefreshToken" value=""/>
  </appSettings>
</configuration>
